@font-face {
  font-family: "font_family"; /* Project id 3995797 */
  src: url('iconfont.woff2?t=1684739963677') format('woff2'),
       url('iconfont.woff?t=1684739963677') format('woff'),
       url('iconfont.ttf?t=1684739963677') format('truetype');
}

.font_family {
  font-family: "font_family" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yingyong1:before {
  content: "\e630";
}

.icon-jiahao:before {
  content: "\e62f";
}

.icon-quanxuan:before {
  content: "\e600";
}

.icon-yanzhengma:before {
  content: "\e624";
}

.icon-daochu:before {
  content: "\e601";
}

.icon-fuzhi:before {
  content: "\e602";
}

.icon-daoru:before {
  content: "\e603";
}

.icon-anquanyanzheng:before {
  content: "\e604";
}

.icon-jiaose:before {
  content: "\e605";
}

.icon-ren:before {
  content: "\e606";
}

.icon-shanchushuju:before {
  content: "\e607";
}

.icon-shijian:before {
  content: "\e608";
}

.icon-renzhengyinzi:before {
  content: "\e609";
}

.icon-shezhi:before {
  content: "\e60b";
}

.icon-saomiao:before {
  content: "\e60c";
}

.icon-tishi:before {
  content: "\e60d";
}

.icon-xiangqing:before {
  content: "\e60e";
}

.icon-tianjiashuju:before {
  content: "\e60f";
}

.icon-yingyongguanli:before {
  content: "\e610";
}

.icon-yaoqing:before {
  content: "\e611";
}

.icon-xinxi:before {
  content: "\e612";
}

.icon-yonghu:before {
  content: "\e613";
}

.icon-yonghuzhanghao:before {
  content: "\e614";
}

.icon-yonghumima:before {
  content: "\e615";
}

.icon-yingyong:before {
  content: "\e616";
}

.icon-zuzhijigou:before {
  content: "\e617";
}

.icon-chenggong:before {
  content: "\e618";
}

.icon-guanbi:before {
  content: "\e619";
}

.icon-jinggao:before {
  content: "\e61a";
}

.icon-sanjiaoxing:before {
  content: "\e61b";
}

.icon-wenjian:before {
  content: "\e61c";
}

.icon-rili:before {
  content: "\e61d";
}

.icon-sousuo:before {
  content: "\e61e";
}

.icon-delete:before {
  content: "\e61f";
}

.icon-xiala:before {
  content: "\e620";
}

