// 该文件中的变量是全局变量，在css文件和vue组件中可以直接使用
@import './mixin.scss';
$mainColor: #216DD9; // 网站主题色
// 侧边栏
$menuBg: #0C284D; // 菜单背景颜色
$menuTextColor: #fff; // 菜单文字颜色
$contentBgColor: #ffffff;
$menuActiveTextColor: #fff; // 已选中菜单文字颜色
$baseMenuTextColor: rgba(0,0,0,0.60);; // 默认菜单文字颜色
$menuActiveBg: #216dd9; // 已选中菜单背景颜色
// $menuHover: #515a6e; // 鼠标经过菜单时的背景颜色
$menuHover: #164A93; // 鼠标经过菜单时的背景颜色
$subMenuBg: #031A38; // 子菜单背景颜色
$subMenuHover: #001528; // 鼠标经过子菜单时的背景颜色

$collapseMenuActiveBg: #1f2d3d; // 菜单宽度折叠后，已选中菜单的背景颜色
$collapseMenuActiveColor: $menuTextColor; // 菜单宽度折叠后，已选中菜单的文字颜色
$collapseMenuActiveBorderColor: $mainColor; // 菜单宽度折叠后，已选中菜单的边框颜色
$collapseMenuActiveBorderWidth: 2px; // 菜单宽度折叠后，已选中菜单的边框宽度
$arrowColor: #fff; // 展开/收起箭头颜色
$horizontalMenuHeight: 40px; // 菜单栏水平排列时候的高度
$notificationSuccess: #67c23a; //.el-notification .el-icon-success
$notificationError: #d93021; //.el-notification .el-icon-success
$notificationWarn: #e6a23c; //.el-notification .el-icon-success
$notificationInfo: #909399; //.el-notification .el-icon-success
$elTabsFontColor: #abacb3;
$mainactiveBgColor: rgba(40, 70, 255, 0.1);
