  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .headerTip {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
  }

  .pointer {
    cursor: pointer;
  }

  .f12 {
    font-size: 12px;
  }

  .f14 {
    font-size: 14px;
  }

  .f16 {
    font-size: 16px;
  }

  .f18 {
    font-size: 18px;
  }

  .f20 {
    font-size: 20px;
  }

  .f22 {
    font-size: 22px;
  }

  .f24 {
    font-size: 24px;
  }

  .ccc {
    color: #ccc;
  }

  .bbb {
    color: #bbb;
  }

  .black {
    color: #000;
  }