.login {
  width: 100%;
  background: white;
  position: relative;
  display: flex;
  flex: 1;
  .login_left {
    width: 50%;
    img {
      position: fixed;
      width: 500px;
      left: 12%;
      top: 5%;
      height: 390px;
    }
  }
  .logo_login {
    width: 102px;
    margin: 20px 40px;
    display: block;
  }

  .login_pic_1 {
    display: block;
    width: 90%;
    margin: 10% auto;
  }
  .fadeIn {
    .el-form-item {
      margin: 30px auto;
      width: 350px;
    }
  }
  .operate {
    line-height: 45px;
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
  }
  .submit_btn {
    width: 280px;
    height: 40px;
    margin: 10px auto;
    display: block;
    text-align: center;
    background: #156cee;
  }
  .forget_pwd {
    position: absolute;
    right: 0;
    top: -35px;
    z-index: 999;
    font-size: 12px;
    color: #666666;
    cursor: pointer;
  }
  .login_right {
    // flex: 0.5;
    width: 50%;
    height: 600px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background: #fff;
    position: relative;

    .avtive {
      color: #536ce2;
      border-radius: 2px;
      line-height: 30px;
      border-bottom: 2px solid #5066e1;
    }
    .el-dialog {
      min-width: 620px;
    }
    .login_right_window {
      box-sizing: border-box;
      transform: translate(-50%, -50%);
      background: white;
      border-radius: 24px;
      padding: 15px;
      padding-top: 0;
      position: absolute;
      left: 45%;
      top: 65%;
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
      width: 414px;
      &:deep(.el-input) {
        height: 45px;
      }
      .login-code {
        width: 100%;
        display: flex;
        justify-content: space-around;
        img {
          margin-left: 10px;
          width: 40%;
        }
      }
      .login-other {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: start;
        flex-direction: column;
        .tip {
          margin-top: 5px;
          height: 40px;
          text-align: left;
          .remeber_pwd_box {
            margin-right: 5px;
          }
        }
      }
      .login_right_window_title {
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #333333;
        text-align: center;
        padding: 30px;
        padding-bottom: 0;
      }

      .login_input_item {
        margin: 10px auto;
        width: 350px;

        .login_input_title {
          font-size: 12px;
          color: #666666;
          padding-bottom: 10px;
          display: flex;
          justify-content: space-between;
        }

        .login_input_card {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 8px;
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
          padding: 5px 0;
          border: 1px solid rgba(0, 0, 0, 0);

          img {
            display: block;
            width: 20px;
            margin: 0 12px;
          }
        }
      }

      .error_tips {
        text-align: center;
        color: #f00612;
        padding-top: 10px;
        min-height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 14px;
          height: 14px;
          display: block;
          margin-right: 5px;
        }
      }
    }

    .btn_login {
      width: 350px;
      height: 40px;
      line-height: 40px;
      background: #156cee;
      border-radius: 8px;
      box-shadow: 0px 10px 20px 0px rgba(21, 108, 238, 0.2);
      color: white;
      margin: 20px auto;
      text-align: center;
      cursor: pointer;
    }

    .btn_login:hover {
      opacity: 0.8;
    }

    .login_right_bottom {
      text-align: center;
      position: absolute;
      bottom: 20px;
      width: 100%;
      font-size: 14px;
      color: #999999;
    }
  }

  .tab {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .tab_item {
      font-size: 16px;
      color: #999999;
      cursor: pointer;
    }

    .tab_split {
      border-left: 1px solid #999999;
      height: 12px;
      transform: scaleX(0.5);
    }

    .tab_select {
      color: #156cee;
    }
  }

  &-con {
    position: absolute;
    right: 160px;
    top: 50%;
    transform: translateY(-60%);
    width: 300px;

    &-header {
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      padding: 30px 0;
    }

    .form-con {
      padding: 10px 0 0;
    }

    .login-tip {
      font-size: 10px;
      text-align: center;
      color: #c3c3c3;
    }

    .login-tip strong {
      font-size: 13px;
      float: right;
      color: rgba(66, 69, 247, 0.418);
      vertical-align: middle;
      margin: -3px 10px 0px 10px;
      cursor: pointer;
    }
  }

  &-icon {
    position: absolute;
    left: 80px;
    top: 25%;
    transform: translateY(-60%);
    width: 360px;
    height: 100px;

    &-img {
      width: 100%;
      height: 100%;
      transform: translateY(-60%);
    }
  }
}
